= link_to "Root", root_upload_file_path, class: 'pure-menu-heading'
%ul.pure-menu-list
  - Folder.order(:name).each do |f|
    %li.pure-menu-item{class: params[:path].eql?(f.name.presence) && 'pure-menu-selected'}
      = link_to f.title, (f.root? ? root_upload_file_path : upload_file_path(path: f.name)), class: 'pure-menu-link'
  -#%li.pure-menu-item
    %a.pure-menu-link{:href => "/tools/"} Tools
  %li.pure-menu-item.menu-item-divided
    = link_to "Add folder", new_folder_path(path: params[:path]), class: "pure-menu-link"
  %li.pure-menu-item
    %a.pure-menu-link{:href => "javascript:void(0);"} Upload here